<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Web App</title>
</head>
<body>
    <h1>Welcome to My Flask Web App!</h1>
    <p>This page is served by Flask.</p>
    <button onclick="fetchData()">Fetch API Data</button>
    <p id="api-response"></p>


    <input type="file" id="imageInput"/>
    <button onclick="uploadImage()">Upload</button>
    <button onclick="uploadImageForMetadata()">Detect Faces</button>
    <img id="result" />

    <script>
        function fetchData() {
            fetch('/api/data')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('api-response').textContent = 
                        'Message: ' + data.message + ' | Status: ' + data.status;
                })
                .catch(error => console.error('Error:', error));
        }

	async function uploadImageForMetadata() {
		const input = document.getElementById('imageInput');
		if(!input.files.length){
			alert("Please select an image first.");
			return;
		}

		const formData = new FormData();
		formData.append("image", input.files[0]);
		
		try{
			const response = await fetch("http://localhost:5000/detect-faces-meta",
			{
				method: "POST",
				body: formData
			});
			
			if(!response.ok){
				throw new Error("Upload failed");
			}
			
			const faces = await response.json();
			console.log(faces);
		}catch (err) {
			console.error(err);
			alert("Failed to upload image.");
		}
	}

	async function uploadImage() {
		const input = document.getElementById('imageInput');
		if(!input.files.length){
			alert("Please select an image first.");
			return;
		}

		const formData = new FormData();
		formData.append("image", input.files[0]);
		
		try{
			const response = await fetch("http://localhost:5000/filter-image",
			{
				method: "POST",
				body: formData
			});
			
			if(!response.ok){
				throw new Error("Upload failed");
			}
			
			const blob = await response.blob();
			const imageUrl = URL.createObjectURL(blob);
			document.getElementById('result').src = imageUrl;			
		}catch (err) {
			console.error(err);
			alert("Failed to upload image.");
		}
	}
    </script>
</body>
</html>